flask==3.0.2
gunicorn==21.2.0
python-dotenv==1.0.1
transformers==4.38.2
torch==2.2.1
Pillow==10.2.0
opencv-python-headless==4.9.0.80
numpy==1.26.4
python-multipart==0.0.9
python-magic==0.4.27
pytest==8.0.2
decord==0.6.0
accelerate==0.27.2
safetensors==0.4.2
